body {
    padding-top: 50px;
}

.transaction-positive {
    color: #000000;
}

.transaction-negative {
    color: #af0003;
}

.nav .nav > li > a {
    padding-left:20px;
    font-size: 90%;
}

.nav > li > a {
    padding: 3px 6px 3px 6px;
}
